html, body {
	overflow-x: hidden;
}
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Yanone Kaffeesatz', sans-serif;
	background: url(../images/white-bg.png);
}
a {
	text-decoration: none;
}
/* Alert for Backend Cookie */
.alert-custom {
	background: #333333;
	color: #FFF;
	text-align: center;
	padding: 0;
	min-height: 50px;
	vertical-align: middle;
}
.top_alert_btn {
	padding: 15px 30px;
	color: #fff;
	transition: .5s ease;
}
.top_alert_btn:hover {
	color: #CFF;
	background-color: #282923;
}
.alert_btn_border {
	border-right: 1px solid #535353;
	border-left: 1px solid #535353;
	min-height: 50px;
	vertical-align: middle;
	margin-left: 50px;
}
/* Alert for Backend Cookie */
/* Header Section Starts Here */
.custom-navbar {
	padding-bottom: 0;
}
.custom-nav li a {
	padding: 0!important;
}
.custom-nav select {
	margin-right: 5px;
}
.custom-brand img {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	width: 7%;
}
/* Header Section Ends Here */
/* Banner Section Starts Here */
.banner {
	background-image: url(../images/banner-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	color: #FFF;
}
.banner_texts h2{
	text-transform: uppercase;
	font-weight: 500;
	font-size: 32px;
	letter-spacing: .5px;
	width: 65%;
	margin: 0 auto;
	margin-top: 180px;
}
.banner_texts h3{
	font-weight: 400;
	font-size: 25px;
	padding: 20px 25px;
	background-color: #A80000;
	letter-spacing: .5px;
	width: 75%;
	margin: 0 auto;
	text-align: center;
	margin-top: 40px;
	margin-bottom: 150px;
}
/* Banner Section Ends Here */
/* Founder Section Starts Here */
.heading {
	background-image: url(../images/founder-header-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: top center;
	color: #FFF;
	padding: 50px 0;
	margin-bottom: 100px;
}
.heading h1 {
	font-weight: 700;
	font-size: 50px;
	letter-spacing: 5px;
	margin: 0;
}
.founder_description h1 {
	font-weight: 700;
	color: #BE0000;
	letter-spacing: 5px;
}
.founder_description h3 {
	text-align: justify;
	width: 75%;
	margin: 20px auto;
	font-weight: 300;
	margin-bottom: 100px;
}
/* Founder Section Ends Here */
hr {
	border: 20px solid #E1D4B2;
	margin: 0;
}
/* Footer Section Starts Here */
footer {
	background-color: #1C3337;
	padding: 40px 0;
	color: #909FA1;
}
footer a {
	color: #909FA1;
	transition: .5s ease;
}
footer a:hover {
	color: #909FA1;
}
.footer_about h2 {
	font-size: 24px;
	font-weight: 400;
}
.footer_about p {
	font-size: 15px;
	font-weight: 300;
}
.footer_about a, h5, li {
	font-size: 15px;
}
.download_app {
	margin-top: 15px;
}
.download_app a {
	margin: 10px auto;
}
.footer_select {
	width: 100%;
	background: transparent;
	color: #909FA1;
	padding: 5px 0;
	margin-bottom: 5px;
	font-weight: 300;
}
.footer_social_icons a {
	padding: 0;
}
.payment_gateways_icon li {
	padding: 0;
	margin: 0!important;
}
/* Footer Section Ends Here */
